/*
Theme Name:Test task
Author: Viaduct
Description: WordPress theme for test task
Version: 1.0
*/

.post-image .page-loop__item-badges a {
    display: inline-block;
    font-size: 12px;
    line-height: 1.9;
    padding: 1px 10px;
    border-radius: 5px;
    background-color: #F03B8C;
    width: auto;
    height: auto;
    color: #fff;
}

.post-image .page-loop__item-badges a:not(:last-child) {
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
}

.woocommerce-breadcrumb {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px;
    color: #5f5f5f;
    font-size: 14px;
}

body.archive .page-content {
    display: flex;
}

body.archive ul.page-loop {
    max-width: 900px;
}

.page-filter__buttons button.button--pink {
    background-color: #F03B8C;
    border: 1px solid #F03B8C;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 2px;
    font-size: 16px;
    line-height: 1.9;
    padding: 9px;
    font-weight: 500;
}

.product-wrap-ul {
    width: 100%;
}

.page-filter__buttons button.button--pink:hover {
    background-color: #ee237e;
    border: 1px solid #ee237e;
    color: #fff;
}

.page-filter__buttons button.reset_filter {
    border: 1px solid #5f5f5f;
    color: #5f5f5f;
    border-radius: 2px;
    font-size: 16px;
    line-height: 1.9;
    padding: 9px;
    font-weight: 500;
    background-color: transparent;
}

.page-filter__buttons button.reset_filter:hover {
    background-color: #ececec;
}

/*  for product filter */

.housing [type='checkbox']:not(:checked) + label {
    background-color: transparent;
    color: #afafaf;
    border: 1px solid #e5e5e5;
}

#loading, #no-more-items,
.product-template-default .woocommerce-breadcrumb {
    display: none;
}

.overlay-active {
    background-color: rgba(31, 31, 31, 0.5);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.product-wrap-ul {
    position: relative;
}

.lds-dual-ring {
    display: none;
    width: 80px;
    height: 80px;
}

.overlay-active .lds-dual-ring {
    display: inline-block;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 992px) {

    .post-image .page-loop__item-badges a {
        font-size: 10px;
    }

}

@media screen and (min-width: 1280px) {

    .post-image .page-loop__item-badges a {
        font-size: 12px;
    }

}